<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SubTrans.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <applicationSettings>
    <SubTrans.Properties.Settings>
      <setting name="FormatOfStyle" serializeAs="String">
        <value />
      </setting>
      <setting name="FormatOfEvent" serializeAs="String">
        <value />
      </setting>
      <setting name="ENG_Default" serializeAs="String">
        <value />
      </setting>
      <setting name="ENG_Note" serializeAs="String">
        <value />
      </setting>
      <setting name="ENG_Title" serializeAs="String">
        <value />
      </setting>
      <setting name="ENG_Color" serializeAs="String">
        <value />
      </setting>
      <setting name="ENG_Font" serializeAs="String">
        <value />
      </setting>
      <setting name="CHS_Default" serializeAs="String">
        <value />
      </setting>
      <setting name="CHS_Note" serializeAs="String">
        <value />
      </setting>
      <setting name="CHS_Title" serializeAs="String">
        <value />
      </setting>
      <setting name="CHS_Color" serializeAs="String">
        <value />
      </setting>
      <setting name="CHS_Font" serializeAs="String">
        <value />
      </setting>
      <setting name="CHT_Default" serializeAs="String">
        <value />
      </setting>
      <setting name="CHT_Note" serializeAs="String">
        <value />
      </setting>
      <setting name="CHT_Title" serializeAs="String">
        <value />
      </setting>
      <setting name="CHT_Color" serializeAs="String">
        <value />
      </setting>
      <setting name="CHT_Font" serializeAs="String">
        <value />
      </setting>
      <setting name="JPN_Default" serializeAs="String">
        <value />
      </setting>
      <setting name="JPN_Note" serializeAs="String">
        <value />
      </setting>
      <setting name="JPN_Title" serializeAs="String">
        <value />
      </setting>
      <setting name="JPN_Color" serializeAs="String">
        <value />
      </setting>
      <setting name="JPN_Font" serializeAs="String">
        <value />
      </setting>
      <setting name="KOR_Default" serializeAs="String">
        <value />
      </setting>
      <setting name="KOR_Note" serializeAs="String">
        <value />
      </setting>
      <setting name="KOR_Title" serializeAs="String">
        <value />
      </setting>
      <setting name="KOR_Color" serializeAs="String">
        <value />
      </setting>
      <setting name="KOR_Font" serializeAs="String">
        <value />
      </setting>
      <setting name="PasteRemoveNullLine" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SaveWithBOM" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="YoutubeLanguage" serializeAs="String">
        <value>CHS</value>
      </setting>
      <setting name="OriginalEditable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SplitCharMode" serializeAs="String">
        <value />
      </setting>
      <setting name="SplitCharCount" serializeAs="String">
        <value>16</value>
      </setting>
      <setting name="SplitCharSymbols" serializeAs="String">
        <value />
      </setting>
      <setting name="MergeString" serializeAs="String">
        <value>\n</value>
      </setting>
    </SubTrans.Properties.Settings>
  </applicationSettings>
</configuration>